/* common */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #0179bf;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

.dragged {
  transform: rotate(4deg) !important;
  transform-origin: top left !important;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

/* button */
.ghost-btn {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  font-size: 14px;
}

.fill-btn {
  padding: 8px;
  background-color: #0179bf;
  color: white;
}

/* list container */
.list-container {
  width: 280px;
  padding: 12px;
  background-color: #eee;
  border-radius: 4px;
}

/* add form */
.add-form textarea {
  display: block;
  width: 100%;
  height: 48px;
  padding: 8px;
  margin-bottom: 8px;
}

.add-form .ghost-btn {
  background-color: transparent;
  font-size: 16px;
  vertical-align: middle;
  color: #444;
}

/* global header */
.global-header {
  display: flex;
  align-items: center;
  background-color: #05649f;
  padding: 16px;
  color: white;
}

.global-header i {
  font-size: 32px;
}

.global-header h1 {
  margin: 0;
  padding-left: 4px;
}

/* main */
.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  padding: 20px;
}

/* trello-list */
.trello-list-title {
  position: relative;
  font-size: 20px;
  margin-bottom: 8px;
}

.trello-list-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 24px;
}

.trello-list-input:active,
.trello-list-input:focus {
  opacity: 1;
}

.card-item {
  margin-bottom: 8px;
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card-item .bx-align-right {
  display: block;
  transform: rotate(180deg);
  text-align: right;
  margin-top: 4px;
  color: #444;
}

.add-open-btn {
  font-size: 14px;
  color: #444;
}

/* add list article */
.add-list-article {
  position: relative;
}

.add-another-btn {
  width: 280px;
  background-color: #5498d0;
  color: white;
}

.add-list {
  position: absolute;
  top: 0;
  left: 0;
}
