/* common */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #0179bf;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

.dragged {
  transform: rotate(4deg) !important;
  transform-origin: top left !important;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

/* button */
.ghost-btn {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  font-size: 14px;
}

.fill-btn {
  padding: 8px;
  background-color: #0179bf;
  color: white;
}

/* list-container */
.list-container {
  width: 280px;
  padding: 12px;
  background-color: #eee;
  border-radius: 4px;
}

/* input-wrapper */
.input-wrapper {
  position: relative;
  font-size: 20px;
}

.input-wrapper input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24px;
  opacity: 0;
}

.input-wrapper input:active,
.input-wrapper input:focus {
  opacity: 1;
}

/* add-form */
.add-form textarea {
  display: block;
  width: 100%;
  height: 48px;
  padding: 8px;
  margin-bottom: 8px;
}

.add-form .ghost-btn {
  background-color: transparent;
  font-size: 16px;
  vertical-align: middle;
  color: #444;
}

/* global header */
.global-header {
  display: flex;
  align-items: center;
  background-color: #05649f;
  padding: 16px;
  color: white;
}

.global-header i {
  font-size: 32px;
}

.global-header h1 {
  margin: 0;
  padding-left: 4px;
}

/* main */
.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  padding: 20px;
}

/* trello-list */
.trello-list-title {
  margin-bottom: 8px;
}

/* card-item */
.card-item {
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card-item .bx-align-right {
  display: block;
  transform: rotate(180deg);
  text-align: right;
  margin-top: 4px;
  color: #444;
}

.open-card-btn {
  display: block;
  width: 100%;
  padding: 8px;
  text-align: left;
}

.add-open-btn {
  font-size: 14px;
  color: #444;
}

/* add-list-article */
.add-list-article {
  position: relative;
}

.add-another-btn {
  width: 280px;
  background-color: #5498d0;
  color: white;
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  min-width: 400px;
  min-height: 200px;
  padding: 40px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.popup-header {
  margin-bottom: 24px;
}

.popup-title {
  margin-bottom: 8px;
}

.popup-title + p {
  font-size: 14px;
}

.popup-description h4 {
  margin-bottom: 8px;
}

.open-description-btn {
  width: 100%;
  font-size: 13px;
  color: #444;
  text-align: left;
  background-color: #eee;
}

.popup-wrapper .close-popup-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 18px;
  color: #444;
}
